<div class="row">
	<div class="btn-group btn-group-xs" role="group">
		<a href="/goods/create" target="_blank"><button type="button"
				class="btn btn-default ">新建</button></a> <a href="" target="_blank"
			id="goods_manager_a_edit" class="blank_check"><button
				type="button" class="btn btn-default">编辑</button></a>
			<button type="button" class="btn btn-default blank_check" id="goods_manager_a_delete" >删除</button>
		<form class="form-inline" action="/goods/search">
			<input type="hidden" name="toPage" value="0" />
			<input type="text" name="param" placeholder="搜索货号或者品名" required />
			<button type="submit">查询</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-xl-8">
		<table class="table table-hover table-bordered" id="table_goods">
			<thead>
				<tr>
					<th>货号</th>
					<th>品名</th>
					<th>备注</th>
				</tr>
			</thead>
			<tbody>
				<#list goodsList as goods>
				<tr data-goodsId="${goods.goodsId}">
					<td>${goods.goodsNo!}</td>
					<td>${goods.goodsName!}</td>
					<td>${goods.note!}</td>
				</tr>
				</#list>
			</tbody>
		</table>
		<div class="row">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="${firstPage}">首页</a></li>
				<li class="page-item"><a class="page-link" href="${prePage}">上一页</a></li>
				<li class="page-item"><a class="page-link" href="${nextPage}">下一页</a></li>
				<li class="page-item"><a class="page-link" href="${lastPage!}">尾页</a></li>
			</ul>
		</div>
	</div>
	<div class="col-xl-4">
		<div class="row">
			<img src="" class="img-thumbnail" style="width: 300px; height: 300px"
				id="current_img">
		</div>

		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>供应商链接</th>
						<th>价格</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody id="current_supplier">

				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
						$("#table_goods tbody tr").click(function(){
											$(this).siblings().removeClass("table-info");
											$(this).addClass("table-info");
											var goodsId = $(this).attr("data-goodsId");
											if (goodsId != null) {
												$("#current_img").attr("src","");
												$("#goods_manager_a_edit").attr("href","/goods/edit/"+ goodsId);
												$.get("/goods/"+ goodsId,function(data,status) {
																	$("#current_img").attr("src",data.goodsPic);
												});
												$("#current_supplier").empty();
												$.get("/goodsAndSupplier/goodsId/"+ goodsId,
																function(data,tatus) {
																	if (data.length > 0) {
																		var supplierHtml = "";
																		$.each(data,function(index,goodsAndSupplier) {
																							supplierHtml += "<tr>"
																									+ "<td><a href="+goodsAndSupplier.goodsLink +" target='_blank'>"
																									+ goodsAndSupplier.supplier.supplierName
																									+ "</a></td>"
																									+ "<td>"
																									+ goodsAndSupplier.price
																									+ "</td>"
																									+ "<td>"
																									+ goodsAndSupplier.note
																									+ "</td>"
																									+ "</tr>";
																						});
																		$("#current_supplier").append(supplierHtml);
																	}
																});
											}
										});

						$("#table_goods tbody tr").dblclick(function() {
							$("#goods_manager_a_edit button").click();
						});

						$("#goods_manager_a_edit button").click(function() {
							var tr = $(".table-info");
							if (tr.length == 0) {
								layer.alert("请先选择一行");
								return false;
							}
						});

						$("#goods_manager_a_delete").click(function() {
									var tr = $(".table-info");
									
									if (tr.length == 0) {
										layer.alert("请先选择一行");
										return false;
									}
								
									layer.confirm('确认删除吗?',function(){
												$.get("/goods/delete/"+ $(".table-info").attr("data-goodsId"),function(data, status) {
													layer.msg(data);
													$(".table-info").remove();
												});
											});
 									
									
								});

					});
</script>