<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>导航</title>
<link rel="stylesheet" href="/js/bootstrap/bootstrap.min.css">
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/layer/layer.js"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- 导航栏 -->
		<#include "/common/nav.html">
		
			<#include menuShow!>
		
	</div>
	

</body>
</html>