<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>导航</title>
<link rel="stylesheet" href="/js/bootstrap/bootstrap.min.css">
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/layer/layer.js"></script>
<!-- vue插件-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- vue路由插件 -->
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<!-- 服务请求插件 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- 导航栏 -->
		<div class="row" id="nav">
			<my-nav :items="items"></my-nav>
		</div>

			<#include menuShow!>
		
	</div>
	

</body>
<script>

Vue.component('my-nav',{
	props:['items'],
	template:`
		<nav class="navbar navbar-expand-sm navbar-default">
			<ul class="navbar-nav">
				 <li class="nav-item dropdown" 
					 v-for="(item,index) in items" 
					 v-bind:key="index" >
				 	<a class="nav-link" v-bind:href="item.href" >{{item.name}}</a>
				 </li>
			</ul>
		</nav>
		`
});

new Vue({
	el:'#nav',
	data:{
		items:[
			{href:'/goods',name:'产品档案'},
			{href:'/goodsAndSupplier',name:'产品链接'},
			{href:'/supplier',name:'供应商档案'},
			{href:'/customer',name:'客户管理'},
			{href:'/order/new',name:'新建订单'},
			{href:'/order/prepare',name:'待发货订单'},
			{href:'/order',name:'已发货订单'}
		]
	}
});

</script>
</html>